<div id="resume">
    {{> basics }}
    {{> skills }}
    {{> work }}
    {{> projects }}
    {{> volunteer }}
    {{> education }}
    {{> awards }}
    {{> publications }}
    {{> languages }}
    {{> interests }}
    {{> references }}
</div>